<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Example Flask-Media</h1>
<div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          Message:
            <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
            </ul>
      {% endif %}
    {% endwith %}
</div>
<hr>

<h3>Avatars</h3>
<div>
    {% for item in users %}
        <div class="item">
            <img src="{{item.avatar.thumbnail('150x150') }}" width="150" height="150"/>
            <p>{{ item.name }}</p>
            <input type="submit" data-url="/delete_model/avatar/{{ item.id }}" value="Remove" class="remove">
        </div>
    {% endfor %}
</div>
<form method="POST" action="/upload_model/avatar" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" name="name">

    <label for="file">Avatar:</label>
    <input type="file" name="file">

    <input type="submit" name="upload">
</form>
<hr>

<h3>Logos</h3>
<div>
    {% for item in media['logo'].items %}
        <div class="item">
            <img src="{{item.thumbnail('150x150') }}" width="150" height="150"/>
            <input type="submit" data-url="/delete/logo/{{ item.filename }}" value="Remove" class="remove">
        </div>
    {% endfor %}
</div>
<form method="POST" action="/upload/logo" enctype="multipart/form-data">
    <label for="file">Logo:</label>
    <input type="file" name="file">
    <input type="submit" name="upload">
</form>
<hr>

<h3>Documents</h3>
<div>
    <ul>
    {% for item in media['document'].items %}
        <li class="item">
            <a href="{{ item.url }}">{{ item.filename }}</a>
            <input type="submit" data-url="/delete/document/{{ item.filename }}" value="Remove" class="remove">
        </li>
    {% endfor %}
    </ul>
</div>
<form method="POST" action="/upload/document" enctype="multipart/form-data">
    <label for="file">Document:</label>
    <input type="file" name="file">
    <input type="submit" name="upload">
</form>

</body>
<script>
    $(".item input.remove").on('click', function(e) {
        var btn=$(this);
        $.post(btn.data('url'), function() {
            btn.parent().fadeOut();
        });
    })
</script>
</html>